---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in paginator.posts -%}
      <li class="posts-home-summary">
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- if post.draft -%}
              <li class="post-draft">Draft</li>
            {%- endif -%}

            {%- for category in post.categories -%}
            <li>{{ category | downcase }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>

        {%- if post.tags.size > 0-%}
          <div class="post-meta">
            <ul class="post-tags">
              {%- for tag in post.tags -%}
              <li>{{ tag | downcase }}</li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}

    <li class="posts-labelgroupBottom">
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a class="numberCircle" href="/">{{ page }}</a>
          {% else %}
            <a class="numberCircle" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
        {% endif %}
      </div>
      {% endif %}
    </li>
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
